<form [formGroup]="cardForm" (ngSubmit)="submit()">
  <div class="row mt-4">
    <div class="col-6">
      <reactive-form-input input_id="title" type="text" label="Title" placeholder="My card"
        [control]="cardForm.get('title')"
        [validity]=" !cardFormControl.title.pristine ? cardFormControl.title.valid : null">
      </reactive-form-input>
      <div class="mt-2" *ngIf="cardFormControl.title?.errors?.required && !cardFormControl.title.pristine"
        class="error-text">La password è richiesta</div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <label>Select card image:</label>
    </div>
    <div class="col-md-12 mt-2">
      <input type="file" accept="image/*" (change)="imagePreview($event)" />
    </div>
  </div>
  <div class="mt-4" *ngIf="filePath && filePath !== ''">
    <img class="card-img-preview" [src]="filePath" [alt]="cardForm.value.title">
  </div>
  <button class="mt-3" type="submit">Upload</button>
</form>