<div class="row">
    <div class="col-9 list-item {{ task?.state }}"
        [ngStyle]="{'border-color':task.color , 'background-color':task.background}">

        <div class="col-md-6 title">
            <input type="text" class="title-input" [value]="task?.title" readonly="true" placeholder="Input title" />
        </div>
        <div class="col-md-3 checkbox-container">
            <div class="checkbox-container">
                <label class="checkbox">
                    <input type="checkbox" [defaultChecked]="task?.state === 'TASK_ARCHIVED'" disabled="true"
                        name="checked" />
                    <span class="checkbox-custom" (click)="onArchive(task.id)"></span>
                </label>
            </div>

        </div>
    </div>
    <div class="col-2 actions">
        <a class="star" *ngIf="task?.state !== 'TASK_ARCHIVED'" (click)="onPin(task.id)">
            <img class="img-star " src="../../assets/star.svg" alt="SVG logo" />
        </a>
    </div>
</div>