.card-page-container {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   
   app-storybook-card {
       margin:30px;
   }
}  
.large{
    display: flex;
    justify-content: center;
    flex-direction: row;
 

        app-storybook-card {
            margin:20px;
        }       
}
