<div class="row action-container" [ngClass]="classes" [ngStyle]="{ 'background-color': backgroundColor }">
    
        <a class="social-svg" src=""><img class="svg" src="../../assets/5365678_fb_facebook_facebook logo_icon.svg"
                alt="facebook logo"></a>
        <a class="social-svg" src=""><img class="svg"
                src="../../assets/5296511_network_social network_tumblr_tumblr logo_icon.svg" alt="tumblr logo"></a>
        <a class="social-svg" src=""><img class="svg" src="../../assets/5296501_linkedin_network_linkedin logo_icon.svg"
                alt="linkedin logo"></a>
    
</div>